// assets/styles/global.scss

// customize some Bootstrap variables
$color : pink;
body {
    background-color: $color;
};

header{
    background-color: yellowgreen; width: 100%; height: 200px; 
}
footer {
    background-color: yellowgreen;
}
footer.li{
    color: red;
}
.box{ margin: 10px 0; padding: 10px; font-weight:700; color:black;
    border-radius: 10px;}
.animate-transform{ animation: 2s ease-in 2s infinite alternate goRight; background: blue; width: 500px; height: 100px; text-align: center;
}
 @keyframes goRight { 


    100%{ transform: translateX(0) rotate(0deg); background: brown; 
 
 
    }
    
    0% { transform: translateX(500px) rotate(20deg) ; background: pink;
 
    }
}
//@import "~bootstrap/scss/bootstrap";




